<div class='ui stackable container menu' style='margin-top: 1em;'>
  <a href='/'>
    <div class='item'>
      <img class='logo' src='/assets/images/yantra.png'>
    </div>
  </a>
  <a class='ui left floated dropdown item'>
    Tipiṭaka
  <i class='dropdown icon'></i>
    <div class='menu'>
      <div class='header'>Sutta Pitaka</div>
        <div class='item disabled'>Digha Nikaya</div>
        <div class='item' data-value='mn'>Majjhima Nikaya</div>
        <div class='item' data-value='sn'>Samyutta Nikaya</div>
        <div class='item disabled'>Anguttara Nikaya</div>
        <div class='item'>
          <i class='angle down icon'></i>
          <span class='text'>Khuddaka Nikaya</span>
          <div class='menu'>
            <div class='item disabled'>Khuddakapatha</div>
            <div class='item' data-value='kn/dhammapada'>Dhammapada</div>
            <div class='item' data-value='kn/ud'>Udana</div>
            <div class='item disabled'>Sutta Nipata</div>
            <!-- <div class='item disabled'>Itivuttaka</div>
            <div class='item disabled'>Vimanavatthu</div>
            <div class='item disabled'>Petavatthu</div>
            <div class='item disabled'>Theragatha</div>
            <div class='item disabled'>Therigatha</div>
            <div class='item disabled'>Jataka</div>
            <div class='item disabled'>Niddesa</div>
            <div class='item disabled'>Patisambhidamagga</div>
            <div class='item disabled'>Apadana</div>
            <div class='item disabled'>Buddhavamsa</div>
            <div class='item disabled'>Cariyapitaka</div>
            <div class='item disabled'>Nettippakarana</div>
            <div class='item disabled'>Petakopadesa</div>
            <div class='item disabled'>Milindapañha</div> -->
          </div>
        </div>
        <div class='divider'></div>
        <div class='header'>Vinaya Pitaka</div>
        <div class='divider'></div>
        <div class='header'>Abhidhamma Pitaka</div>
    </div>
  </a>
</div>

<script type='text/javascript'>
  $('.ui.dropdown')
  .dropdown({
    duration: 400,
    direction: 'downward',
    action: function(_, value) {
      var path = '/tipitaka/' + value;
      $(location).attr('href', path);
    }
  })
  ;
</script>
