@import url('https://fonts.googleapis.com/css?family=Source Sans Pro:400,700,400italic,700italic&subset=latin');

.ui.menu .dropdown.item .menu {
  left: 55px;
  background-image: url(/assets/images/retina-wood.png);
}

#logo-container {
  padding: 0;
}

.ui.segment {
  background-image: url(/assets/images/vintage-concrete.png);
}

.ui.card {
  background-image: url(/assets/images/dust-scratches.png);
}

#adi.ui.card {
  width: 370px;
}

.ui.menu {
  background-image: url(/assets/images/retina-wood.png);
}

.ui.menu .logo {
  height: 90px;
}

.ui.accordion .title {
  color: rgba(0,0,0,.87) !important;
  font-weight: normal !important;
}

footer {
  margin-top: 1em;
}
