<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ro" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    {% assign col = site[page.collection] %}
    {% assign metadata = col.first %}

    <main class='ui container'>
      <div class='ui segment'>
        <h3>
          {{ metadata.test }}
        </h3>
        <div class='ui card' id='adi'>
          <div class='content'>
            <h5>
              {{ metadata.title }}<br>
              de {{ metadata.author }}
            </h5>
          </div>
          <div class='content'>
            <div class='ui small feed'>
              {% for item in col offset:1 %}
                <a href='{{ item.url }}#majjhe'>{{ item.title }}</a><br />
              {% endfor %}
            </div>
          </div>
        </div>

        <div class='content' id='majjhe'>
          {{ content }}
        </div>

        <a href='#adi' class='fluid ui primary basic button' style='margin-top: 1em;'>
          Înapoi la cuprins
        </a>

        <div class='ui divider'></div>

        <small>
          <i class='large copyright icon'></i>
          Traducere și adaptare din engleză a textului
          «<a href='{{ metadata.original_url }}' target='_blank' data-tooltip='© {{ metadata.copyright}}, {{ metadata.year }}'>
            {{ metadata.original_title }}
          </a>»
        </small>
      </div>
      <br>
    </main>

    <!-- {%- include footer.html -%} -->

  </body>

</html>
