<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ro" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class='ui container'>
      <div class='ui segment'>
        <h3>
          Khuddaka Nikaya
          <i class='angle double right icon'></i>
          Dhammapada
        </h3>
        <div class='ui card' id='adi'>
          <div class='content'>
            <h5>
              O Dhammapada pentru Contemplație<br>
              de Ajahn Munindo
            </h5>
          </div>
          <div class='content'>
            <div class='ui small feed'>
              {% for item in site.kn_dhp limit:3 %}
                <a href='{{ item.url }}#majjhe'>{{ item.title }}</a><br />
              {% endfor %}
            </div>
          </div>
          <div class='content'>
            <div class='ui small feed'>
              {% for item in site.kn_dhp offset:3 %}
                <a href='{{ item.url }}#majjhe'>{{ forloop.index }}{{ item.name }}. {{ item.title }}</a><br />
              {% endfor %}
            </div>
          </div>
        </div>

        <div class='content' id='majjhe'>
          {{ content }}
        </div>

        <a href='#adi' class='fluid ui primary basic button' style='margin-top: 1em;'>
          Înapoi la cuprins
        </a>

        <div class='ui divider'></div>

        <small>
          <a rel='license' href='http://creativecommons.org/licenses/by-nc/3.0/'>
            <img alt="Licenţa Creative Commons" style="border-width: 0; vertical-align: middle;" src="https://i.creativecommons.org/l/by-nc/3.0/80x15.png" />
          </a>
          Traducere și adaptare din engleză a textului
          «<a href='https://www.amaravati.org/dhamma-books/a-dhammapada-for-contemplation/' target='_blank' data-tooltip='© Ajahn Munindo'>
            A Dhammapada for Contemplation
          </a>»
        </small>
      </div>
      <br>
    </main>

    <!-- {%- include footer.html -%} -->

  </body>

</html>
