<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ro" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class='ui container'>
      <div class='ui segment'>
        <div class='content' id='majjhe'>
          {{ content }}
        </div>
        <div class='ui divider'></div>
        <small>
          <a rel='license' href='http://creativecommons.org/licenses/by-nc/4.0/'>
            <img alt="Licenţa Creative Commons" style="border-width: 0; vertical-align: middle;" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" />
          </a>
          Traducere din engleză a textului
          «<a href='https://www.accesstoinsight.org/tipitaka/mn/mn.0{{page.name}}.than.html' data-tooltip='© Thanissaro Bhikkhu'>
            {{ page.title }}: {{ page.english_title }}
          </a>»
        </small>
      </div>
      <br>
    </main>

    <!-- {%- include footer.html -%} -->

  </body>

</html>
