<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ro" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class='ui container'>
      <div class='ui segment'>
        <div class='content' id='majjhe'>
          {{ content }}
        </div>
        <div class='ui divider'></div>
        <small>
          Traducere din engleză a textului
          <a href='https://www.accesstoinsight.org/tipitaka/mn/mn.0{{page.name}}.than.html'>
            {{ page.title }}: {{ page.english_title }}
          </a>
          © Thanissaro Bhikkhu sub <a rel='license' href="http://creativecommons.org/licenses/by-nc/4.0/">licenţa Creative Commons Atribuire-Necomercial 4.0 Internațional </a>.
        </small>
      </div>
      <br>
    </main>

    <!-- {%- include footer.html -%} -->

  </body>

</html>
